<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="card">
  <div class="font-semibold text-xl mb-4">Test Categories</div>

  <p-table [value]="testCategories" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>Name</th>
        <th>Updates</th>
        <th>Status</th>
      </tr>
    </ng-template>  
  
    <ng-template pTemplate="body" let-category let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            (click)="toggleRowExpansion(category)"
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
          >
            <i [ngClass]="expandedRows[category.name] ? 'fas fa-folder-open' : 'fas fa-folder'" style="color: #10B981;"></i>
          </button>
        </td>
        <td>{{ category.name }}</td>
        <td>{{ category.updates }}</td>
        <td>
          <p-tag [value]="category.status" [severity]="getSeverity(category.status)"></p-tag>
        </td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="rowexpansion" let-category>
      <tr>
        <td colspan="4">
          <div class="p-3">
            <p-table [value]="category.tests" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Test Name</th>
                  <th>Last Updated</th>
                  <th>Status</th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-test>
                <tr>
                  <td>{{ test.name }}</td>
                  <td>{{ test.updated }}</td>
                  <td>
                    <span [class]="'order-badge order-' + test.status.toLowerCase()">{{ test.status }}</span>
                  </td>
                  <td>
                    <p-button type="button" icon="pi pi-search"></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">No tests found in this category.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>  
</div>
